.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--app-muted);
  font-size: 12px;
  min-height: 24px;
}

.breadcrumb a:last-child {
  color: var(--app-text);
  font-weight: 700;
}

.breadcrumb mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
